@* Define Model*@
@model IEnumerable<Expense>

@* Define viewData *@
@{
	ViewData["Title"] = "List Of Expenses";
}
@* Write Code*@
<h4 class="text-center my-5"> Categoty Lists Expenses </h4>
<div>
	<h3 class="text-center">Your Total Expence @Model.Sum(i => i.E_Amount)</h3>
</div>
<div class="row">

	<div class="col-md-8 offset-md-2">
		<table class="table">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(Model => Model.E_Title)</th>
					<th>@Html.DisplayNameFor(Model => Model.E_Description)</th>
					<th>@Html.DisplayNameFor(Model => Model.E_Date)</th>
					<th>@Html.DisplayNameFor(Model => Model.E_Amount)</th>
					<th>@Html.DisplayNameFor(Model => Model.Category.C_Name)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.E_Title)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.E_Description)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.E_Date)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.E_Amount)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.Category.C_Name)
						</td>
						<td class="align-middle">
							<a asp-action="Edit" asp-route-id="@item.E_Id" class="btn btn-outline-primary">Edit</a> |
							<a asp-action="Details" asp-route-id="@item.E_Id" class="btn btn-outline-info">details</a> |
							<a asp-action="Delete" asp-route-id="@item.E_Id" class="btn btn-outline-danger">Delete</a>
						</td>
					</tr>
				}
			</tbody>

		</table>
	</div>
</div>

<div class="text-white text-center ">
	<a asp-controller="Expense" asp-action="Create" class="btn btn-success ">Add Expense</a>
</div>